name: API Regression Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Newman & Reporter
        run: npm install -g newman newman-reporter-htmlextra

      - name: Run Newman Collection
        run: |
          mkdir -p reports
          newman run collections/fakestore-collection.json \
            -e environments/fakestore-env.json \
            -r cli,htmlextra \
            --reporter-htmlextra-export reports/report.html

      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        with:
          name: api-test-report
          path: reports/report.html
